body {
    background: url('../image/Heavenhold.jpg');
    background-size: cover;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #8B4513 0%, #D2691E 100%);
    background-image: url(./img/test1.jpg);
    min-height: 100vh;
} */

.auth-box {
    background: rgba(255, 255, 255, 0.95);
    max-width: 450px;
    width: 90%;
    margin: 50px auto;
    padding: 2.5rem;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


.auth-box h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.auth-part {
    margin-bottom: 1.5rem;
}

.auth-part a {
    display: block;
    margin-top: 0.7rem;
}

.auth-part label {
    display: block;
    margin-bottom: 0.5rem;
}

label {
    font-size: 15px;
    font-weight: 600;
}

.auth-option {
    margin-bottom: 1.5rem;
}

.auth-option select {
    border: 2px solid #d3d3d3;
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    /* margin-top: 20px; */


}

.auth-part input {
    border: 2px solid #d3d3d3;
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
}

.auth-link {
    text-align: center;
    margin-top: 1rem;
    /* padding-top: 1.5rem; */
}

a {
    text-decoration: none;
    font-weight: 500;
}

button {
    background: rgb(99, 174, 224);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    /* border-color: aquamarine; */
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
}